BODY      { color: #012; background: White; font-family: sans-serif; }
h1 { color: White; background: #035; font: 110% sans-serif; }
h2 { color: Black; background: #003; font: 200% arial; font-style: italic; }
